<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f| %>
  <div class="row">
    <div class="col-md-2">
      <span class="btn btn-file">
        <% if current_user %>
          <%= image_tag current_user.avatar.normal, class: "avatar-thumb img-thumbnail" %>
        <% else %>
          <%= image_tag "normal_avatar.jpg", class: "avatar-thumb img-thumbnail" %>
        <% end %>
        <%= f.file_field :avatar, hide_label: true %>
        <small id="notification">Alterar avatar</small>
      </span>
    </div>
    <div class="col-md-10">
      <%= f.form_group :role, required: :true, label: { text: "Você é?" } do %>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default">
        <%= f.radio_button :role, 'student', inline: true, autocomplete: "off" %>
        <%= image_tag "student.png" %>
        Estudante
        </label>
        <label class="btn btn-default">
        <%= f.radio_button :role, 'volunteer', inline: true, autocomplete: "off" %>
        <%= image_tag "volunteer.png" %>
        Voluntário
        </label>
        <label class="btn btn-default">
        <%= f.radio_button :role, 'other', inline: true, autocomplete: "off" %>
        <%= image_tag "other.png" %>
        Outros
        </label>
      </div>
      <% end %>
      <%= f.email_field :email, required: :true, hide_label: :true, placeholder: "Email" %>
      <% if @validatable %>
      <%= f.password_field :password, autocomplete: "off", required: :true, hide_label: :true, placeholder: "Senha", help: "Precisa ter no mínimo #{@minimum_password_length} caracteres" %>
      <% else %>
      <%= f.password_field :password, autocomplete: "off", required: :true, hide_label: :true, placeholder: "Senha" %>
      <% end %>
      <%= f.password_field :password_confirmation, autocomplete: "off", required: :true, hide_label: :true, placeholder: "Confirme sua senha" %>
    </div>
    <%= f.submit "Cadastrar", class: "btn btn-success pull-right" %>
  </div>
<% end %>