<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f| %>
  <%= devise_error_messages! %>
  <%= f.text_field :name, required: :true, hide_label: :true, placeholder: "Name" %>
  <%= f.email_field :email, required: :true, hide_label: :true, placeholder: "Email" %>
  <%= f.text_field :birthday, required: :true, hide_label: :true, placeholder: "Data de nascimento" %>
  <%= f.form_group :gender, label: { text: "Sexo" } do %>
    <%= f.radio_button :gender, 'male', label: "Masculino", inline: true %>
    <%= f.radio_button :gender, 'female', label: "Feminino", inline: true %>
  <% end %>
  <% unless current_user.is_facebooked? %>
    <%= f.password_field :current_password, autocomplete: "off", required: :true, hide_label: :true, placeholder: "Senha Atual" %>
  <% end %>

  <span>Se quiser mudar sua senha digite abaixo, deixe em branco para manter a atual.</span>
  <%if @validatable %>
    <%= f.password_field :password, autocomplete: "off", hide_label: :true, placeholder: "Senha", help: "Must be #{@minimum_password_length} characters minimum" %>
  <% else %>
    <%= f.password_field :password, autocomplete: "off", hide_label: :true, placeholder: "Senha" %>
  <% end %>
  <%= f.password_field :password_confirmation, autocomplete: "off", hide_label: :true, placeholder: "Confirme" %>
  <%= image_tag current_user.avatar.normal %>
  <%= f.file_field :avatar, label: "Seu avatar" %>
  <%= f.hidden_field :avatar_cache %>
  <%= f.hidden_field :provider %>
  <%= f.hidden_field :uid %>
  <div class="form-group">
    <%= f.submit "Atualizar", class: "btn btn-success" %>
    <%= link_to "Voltar", :back, class: "btn btn-default" %>
  </div>
<% end %>

<%= button_to "Cancelar minha conta!", registration_path(resource_name), data: { confirm: "Tem certeza que deseja cancelar sua conta?" }, method: :delete, class: "btn btn-danger" %>