<h2>Editar</h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f| %>
  <div class="row">
    <div class="col-md-2">
      <span class="btn btn-file">
        <%= image_tag current_user.avatar.normal, class: "avatar-thumb img-thumbnail" %>
        <%= f.file_field :avatar, hide_label: true %>
        <small id="notification">Alterar avatar</small>
      </span>
    </div>
    <% unless current_user.role %>
    <div class="col-md-10">
      <%= f.form_group :role, required: :true, label: { text: "Você é?" } do %>
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-default active">
          <%= f.radio_button :role, 'student', inline: true , checked: true, autocomplete: "off" %>
          <%= image_tag "student.png" %>
          Estudante
          </label>
          <label class="btn btn-default">
          <%= f.radio_button :role, 'volunteer', inline: true, autocomplete: "off" %>
          <%= image_tag "volunteer.png" %>
          Voluntário
          </label>
          <label class="btn btn-default">
          <%= f.radio_button :role, 'other', inline: true, autocomplete: "off" %>
          <%= image_tag "other.png" %>
          Outros
          </label>
        </div>
        <% end %>
        </div>
      <% end %>
    <div class="col-md-10">
      <%= f.text_field :name, required: :true, hide_label: :true, placeholder: "Name" %>
      <%= f.email_field :email, required: :true, hide_label: :true, placeholder: "Email" %>
      <%= f.text_field :birthday, required: :true, hide_label: :true, placeholder: "Data de nascimento" %>    
    </div>
    <script type="text/javascript">
    jQuery(function($){
      $( "#passchange" ).hide();
      $( "#button" ).click(function() {
        $( "#passchange" ).toggle( "fast" );
      });
    });
    </script>
    <div class="col-md-10 col-md-offset-2">
    <div class="form-group">
    <div id="button" class="btn btn-default btn-xs">Mudar senha</div>
    </div>
    <div id="passchange">
    <span>Se quiser mudar sua senha digite abaixo, deixe em branco para manter a atual.</span>
    <% if @validatable %>
      <%= f.password_field :password, autocomplete: "off", hide_label: :true, placeholder: "Senha", help: "Must be #{@minimum_password_length} characters minimum" %>
    <% else %>
      <%= f.password_field :password, autocomplete: "off", hide_label: :true, placeholder: "Senha" %>
    <% end %>
    <%= f.password_field :password_confirmation, autocomplete: "off", hide_label: :true, placeholder: "Confirme" %>
    </div>
    <%= f.hidden_field :avatar_cache %>

    <div class="form-group">
      <%= f.submit "Atualizar", class: "btn btn-success" %>
      <%= link_to "Cancelar", root_path, class: "btn btn-default" %>
    </div>
    </div>
  </div>
<% end %>

<%= button_to "Cancelar minha conta!", registration_path(resource_name), data: { confirm: "Tem certeza que deseja cancelar sua conta?" }, method: :delete, class: "btn btn-danger btn-xs pull-right" %>