<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f| %>
  <div class="row">
    <div class="col-xs-4 col-sm-2 col-md-2">
      <span class="btn btn-default btn-file">
        <%= image_tag current_user.avatar.normal, class: "avatar-thumb" %>
        <%= f.file_field :avatar, hide_label: true %>
        <small id="notification">Alterar avatar</small>
      </span>
    </div>
    <div class="col-xs-8 col-sm-10 col-md-10">
      <%= f.text_field :name, required: :true, hide_label: :true, placeholder: "Name" %>
      <%= f.email_field :email, required: :true, hide_label: :true, placeholder: "Email" %>
      <%= f.text_field :birthday, required: :true, hide_label: :true, placeholder: "Data de nascimento" %>    
    </div>
  </div>

  <div class="col-sm-offset-2">
  <%= f.form_group :gender, label: { text: "Sexo" } do %>
    <%= f.radio_button :gender, 'male', label: "Masculino", inline: true %>
    <%= f.radio_button :gender, 'female', label: "Feminino", inline: true %>
  <% end %>
  </div>
  
  <span>Se quiser mudar sua senha digite abaixo, deixe em branco para manter a atual.</span>
  <%if @validatable %>
    <%= f.password_field :password, autocomplete: "off", hide_label: :true, placeholder: "Senha", help: "Must be #{@minimum_password_length} characters minimum" %>
  <% else %>
    <%= f.password_field :password, autocomplete: "off", hide_label: :true, placeholder: "Senha" %>
  <% end %>
  <%= f.password_field :password_confirmation, autocomplete: "off", hide_label: :true, placeholder: "Confirme" %>
  <%= f.hidden_field :avatar_cache %>
  <div class="form-group">
    <%= f.submit "Atualizar", class: "btn btn-success" %>
    <%= link_to "Voltar", :back, class: "btn btn-default" %>
  </div>
<% end %>
<%= button_to "Cancelar minha conta!", registration_path(resource_name), data: { confirm: "Tem certeza que deseja cancelar sua conta?" }, method: :delete, class: "btn btn-danger btn-xs pull-right" %>

<script type="text/javascript">
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('.avatar-thumb').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}
$(function() {
  $("#user_avatar").change(function (){
    readURL(this);
    $("#notification").html("Avatar selecionado");
  });
});
</script>