<% if current_user.role == "student" %>
<h2>
  Demandas Que Criei <%= link_to "Criar nova", new_demand_path, :class => 'btn btn-primary btn-sm' %>
</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Titulo</th>
      <th>Periodo</th>
      <th>Inicio em</th>
      <th>Status</th>
      <th>Lugar</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @demands.each do |demand| %>
      <tr>
        <td><%= link_to demand.id, demand_path(demand) %></td>
        <td><%= demand.title %></td>
        <td><%= I18n.t(demand.period) %></td>
        <td><%= demand.start_at %></td>
        <td><%= I18n.t(demand.status) %></td>
        <td><%= demand.school.name %></td>
        <td>
          <%= link_to "editar",
                      edit_demand_path(demand), :class => 'btn btn-default btn-xs' %>
          <%= link_to "apagar",
                      demand_path(demand),
                      :method => :delete,
                      :data => { :confirm => "Você tem certeza?" },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Demandas Que Participo <%= link_to "Buscar", demands_path, :class => 'btn btn-primary btn-sm' %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Titulo</th>
      <th>Periodo</th>
      <th>Inicio em</th>
      <th>Status</th>
      <th>Lugar</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |g| %>
      <tr>
        <td><%= link_to g.demand.id, demand_path(g.demand) %></td>
        <td><%= g.demand.title %></td>
        <td><%= I18n.t(g.demand.period) %></td>
        <td><%= g.demand.start_at %></td>
        <td><%= I18n.t(g.demand.status) %></td>
        <td><%= g.demand.school.name %></td>
        <td>
          <%= link_to "Sair",
                      quit_demands_path(id: g.id),
                      :method => :delete,
                      :data => { :confirm => "Você tem certeza que quer sair?" },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% 
end 
if current_user.role == "volunteer"
%>
<h2>Minhas Propostas <%= link_to "Buscar novas", demands_path, :class => 'btn btn-primary btn-sm' %></h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Demanda</th>
      <th>Periodo</th>
      <th>Quantidade</th>
      <th>Dias</th>
      <th>Status</th>
      <th>Lugar</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @proposals.each do |proposal| %>
      <tr>
        <td><%= proposal.id %></td>
        <td><%= proposal.demand.title %></td>
        <td><%= I18n.t(proposal.demand.period) %></td>
        <td><%= proposal.how_many %></td>
        <td><%= proposal.weekdays.join(", ") %></td>
        <td><%= I18n.t(proposal.status) %></td>
        <td><%= proposal.demand.school.name %></td>
        <td>
          <%= link_to "Ver",
              proposal_path(proposal),
              :class => 'btn btn-default btn-xs' %>
          <%= link_to "Apagar",
              proposal_path(proposal),
              :method => 'delete',
              :data => { :confirm => "Você tem certeza?" },
              :class => 'btn btn-danger btn-xs' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Demandas Que Vou Ajudar</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Titulo</th>
      <th>Periodo</th>
      <th>Inicio em</th>
      <th>Status</th>
      <th>Lugar</th>
    </tr>
  </thead>
  <tbody>
    <% @volunteereds.each do |demand| %>
      <tr>
        <td><%= link_to demand.id, demand_path(demand) %></td>
        <td><%= demand.title %></td>
        <td><%= I18n.t(demand.period) %></td>
        <td><%= demand.start_at %></td>
        <td><%= I18n.t(demand.status) %></td>
        <td><%= demand.school.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if current_user.role == "admin" %>
<%= link_to "Demandas", demands_path %> | 
<%= link_to "Propostas", proposals_path %> | 
<%= link_to "Escolas", schools_path %>
<% end %>