<%= form_for @demand, :html => { :class => "form-horizontal demand" } do |f| %>

  <div class="form-group">
    <%= f.label "Quer aprender o que?", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <% @accepted_demands.each do |demand| %>
        <label>
          <%= f.radio_button :title, demand.title %> <%= demand.title %>
        </label>
        <br />
      <% end %>
      <% unless @demand.new_record? %>
        <label>
          <%= f.radio_button :title, @demand.title %> <%= @demand.title %>
        </label>
      <% end %> 
      <br />
      <label>
        <%= f.radio_button :title, '' %> 
        Outro? 
        <%= text_field_tag "demand[title_other]" %>
      </label>
    </div>
    <%=f.error_span(:title) %>
  </div>
  <div class="form-group">
    <%= f.label "Observações", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :observation, :class => 'form-control' %>
    </div>
    <%=f.error_span(:observation) %>
  </div>
  <div class="form-group">
    <%= f.label "Periodo", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <div class="checkbox">
        <label>
          <%= f.radio_button :period, 'morning', inline: true , checked: true %> De manhã
        </label>
        <label>
          <%= f.radio_button :period, 'afternoon', inline: true %> À tarde
        </label>
        <label>
          <%= f.radio_button :period, 'night', inline: true %> À noite
        </label>
      </div>
    </div>
    <%=f.error_span(:period) %>
  </div>
  <div class="form-group">
    <%= f.label "Onde?", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.hidden_field :school_id, value: current_user.information.school_id %>
      <%= current_user.information.school_name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label "Pode ser outro lugar? (se a escola não aceitar)", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <div class="checkbox">
        <label>
          <%= f.radio_button :other_place, true, inline: true , checked: true %> Sim
        </label>
        <label>
          <%= f.radio_button :other_place, true, inline: true %> Não
        </label>
      </div>
    </div>
    <%=f.error_span(:other_place) %>
  </div>
  <% if current_user.role == "admin" %>
  <hr>
    <div class="form-group">
    <h5>Dados do Aluno</h5>
    <p>Nome: <%= @demand.owner.name %></p>
    <p>Email: <%= @demand.owner.email %></p>
    <p>Escola: <%= @demand.owner.information.school %></p>
    <p>Termina em: <%= @demand.owner.information.expected_finish %></p>
    <p>Onde Mora: <%= @demand.owner.information.city.name %> - <%= @demand.owner.information.state.name %></p>
    </div>
    <div class="form-group">
    <%= f.label "Status", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <div class="checkbox">
        <label>
          <%= f.radio_button :status, 'accepted', inline: true , checked: true %> Aprovado
        </label>
        <label>
          <%= f.radio_button :status, 'canceled', inline: true %> Cancelado
        </label>
        <label>
          <%= f.radio_button :status, 'new', inline: true %> Novo/Standby
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Inicio em", :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :start_at, :class => 'form-control' %>
    </div>
  </div>
  <% end %>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit "Enviar", :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                demands_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
