<div class="page-header">
  <h1>Proposta enviada com sucesso!</h1>
</div>

<dl class="dl-horizontal">
  <h4><%= @proposal.demand.title %></h4>
    
    <p>Periodo: <%= I18n.t(@proposal.demand.period) %></p>
    <p>Escola: <%= @proposal.demand.school.name %></p>
    <p>Endereço: <%= @proposal.demand.school.address %></p>
  <p>Quantidade: <%= @proposal.how_many %></p> 
  <p>Dias da semana: <%= @proposal.weekdays.join(", ") %></p>
</dl>

<h2>Aguarde aprovação da nossa equipe, se quiser agilizar, entre em contato.</h2>

<%= link_to "Voltar",
              root_path, :class => 'btn btn-default'  %>
<%= link_to "Editar",
              edit_proposal_path(@proposal), :class => 'btn btn-default' %>
<%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
              proposal_path(@proposal),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>