<address>
  Escola: <strong><%= @school.name %></strong><br>
  Endereço: <%= @school.address %>
</address>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Titulo</th>
      <th>Obs</th>
      <th>Periodo</th>
      <th>Inicio em</th>
      <th>Status</th>
      <th>Lugar</th>
      <th>Criado em</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @demands.each do |demand| %>
      <tr>
        <td><%= link_to demand.id, demand_path(demand) %></td>
        <td><%= demand.title %></td>
        <td><%= demand.observation %></td>
        <td><%= I18n.t(demand.period) %></td>
        <td><%= demand.start_at %></td>
        <td><%= I18n.t(demand.status) %></td>
        <td><%= demand.school.name %></td>
        <td><%= demand.created_at %></td>
        <td>
          <% if current_user.role == "student" and demand.in_group(current_user.id).blank? %>
          <%= link_to "Participar",
                      add_demands_path(demand_id: demand.id),
                      :class => 'btn btn-xs btn-success' %>
          <%
          end
          if current_user.role == "volunteer" and demand.helped_by(current_user.id).blank?
          %>
          <%= link_to "Ajudar",
                      new_proposal_path(demand_id: demand.id),
                      :class => 'btn btn-xs btn-success' %>
          <% end %>
          <%#= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_demand_path(demand), :class => 'btn btn-default btn-xs' %>
          <%#= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      demand_path(demand),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>