<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Quero na Escola" %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
    <script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
    <script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
  </head>
  <body>
    <div class="container">
      <div class="row menu-imaged img-rounded">
        <div class="col-lg-12">
          <a href="/">
            <%= image_tag "logo-mini-qne.png", class: "img-responsive" %>
          </a>
        </div>
        <div class="col-lg-12">
          <ul class="list-inline pull-right">
            <li>
              <%= render :partial => 'layouts/user_menu' if current_user %>
            </li>
            <li>
              <a href="#" class="btn btn-default">Blog</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
        <%= render :partial => 'layouts/user_sub_menu' if current_user %>
        
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <!--
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <h3>Sidebar</h3>
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li><%= link_to "Link1", "/path1"  %></li>
              <li><%= link_to "Link2", "/path2"  %></li>
              <li><%= link_to "Link3", "/path3"  %></li>
            </ul>
          </div>
        </div>/span-->
      </div><!--/row-->
    </div> <!-- /container -->
    <div class="navbar navbar-default navbar-bottom">
      <div class="container">
        <p class="navbar-text pull-left">&copy; 2016 - Quero na Escola
             <a href="#" class="navbar-btn btn-default btn btn-xs">Política de Privacidade</a>
             <a href="#" class="navbar-btn btn-default btn btn-xs">Termo de Uso</a>
             <a href="#" class="navbar-btn btn-default btn btn-xs">Fale Conosco</a>
        </p>
        
        <p class="navbar-text pull-right">
          <a href="#" class="navbar-btn btn-default btn btn-xs">
            Quem Somos?
          </a>
          <a href="#" class="navbar-btn btn-default btn btn-xs">
            Apoiadores
          </a>
          <a href="#" class="navbar-btn btn-default btn btn-xs">
            Como ajudar
          </a>
          <a href="#" class="navbar-btn btn-default btn btn-xs">
            Nós na imprensa
          </a>
          <a href="#" class="navbar-btn btn-default btn btn-xs">
            Blog
          </a>
          <a href="https://www.facebook.com/queronaescolaapp" target="_blank" class="navbar-btn btn-primary btn btn-xs">
            <span class="fa fa-facebook"></span>  Curta nossa página!
          </a>
        </p>
      </div>
    </div>

  </body>
<script type="text/javascript">
function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('.avatar-thumb').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}
jQuery(function($){
  $("#user_avatar").change(function (){
    readURL(this);
    $("#notification").html("Avatar selecionado");
  });
  $("#user_birthday").mask("99/99/9999");

 $("#information_expected_finish").mask("9999");

 $("#demand_start_at").mask("99/99/9999");
 $('#demand_start_at').datepicker({
      format: "dd/mm/yyyy",
      language: "pt-BR"
  });
});
</script>
</html>
